@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

/* src/styles/tailwind.css */
.prose :where(img) {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
}
.prose :where(figure) {
    margin: 1.25rem 0;
}
.prose :where(figcaption) {
    opacity: 0.7;
    font-size: 0.875rem;
    text-align: center;
}
